@import '@radix-ui/themes/styles.css';

@import 'tailwindcss';

@theme {
	--color-background: hsl(210 20% 98%);
	--color-foreground: hsl(222 47% 11%);

	--color-card: hsl(0 0% 100%);
	--color-card-foreground: hsl(222.2 84% 4.9%);

	--color-popover: hsl(0 0% 100%);
	--color-popover-foreground: hsl(222.2 84% 4.9%);

	--color-primary: hsl(221 83% 53%);
	--color-primary-foreground: hsl(210 40% 98%);

	--color-muted: hsl(210 40% 96%);
	--color-muted-foreground: hsl(215 16% 47%);

	--color-accent: hsl(210 40% 96%);
	--color-accent-foreground: hsl(222 47% 11%);

	--color-destructive: hsl(0 84.2% 60.2%);
	--color-destructive-foreground: hsl(210 40% 98%);

	--color-border: hsl(214.3 31.8% 91.4%);
	--color-input: hsl(214.3 31.8% 91.4%);
	--color-ring: hsl(221 83% 53%);
}

@layer base {
	* {
		@apply border-border;
	}

	button {
		@apply cursor-pointer;
	}

	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		@apply antialiased;
		font-family: 'Inter', sans-serif;
	}

	body {
		@apply bg-background;
	}
}

@layer components {
}
